.astrix,
.blankLine,
.collectible {
  margin: 0;
}
.astrixCollectibleTxtContainer {
  line-break: anywhere;
  width: 100%;
}
.astrixCollectible {
  margin: 0 !important;
  width: 361px;
  position: absolute;
  bottom: 157px;
  left: 34px;
  font-size: inherit;
  line-height: 118px;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.frameGroup {
  align-self: stretch;
  width: 851px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 27px;
}
.eventsChild,
.eventsItem {
  height: 630px;
  width: 412px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.events,
.eventsWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.events {
  width: 568px;
  /* overflow: hidden; */
  flex-shrink: 0;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 32px 0 0;
  gap: var(--gap-6xl);
  z-index: 1;
}
.eventsWrapper {
  height: 760px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 28px;
}
.frameChild {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: #282b30;
}
.events1 {
  width: 62.8px;
  position: relative;
  line-height: 14px;
  display: inline-block;
  flex-shrink: 0;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  min-width: 62.8px;
  z-index: 1;
}
.frameItem {
  height: 100%;
  width: 163.6px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-81xl);
  background-color: #484f56;
  z-index: 1;
}
.collections {
  position: relative;
  line-height: 14px;
  display: inline-block;
  color: var(--palette-pac-man-50);
  min-width: 103.9px;
  z-index: 2;
}
.rectangleParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16.8px 26px 21.3px 48.4px;
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  gap: var(--gap-xl);
}
.toggleLandingPageChild {
  height: 50px;
  width: 140px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  cursor: pointer;
}
.toggleLandingPage {
  width: 350.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.collectionLandingInner,
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}
.frameParent {
  align-self: stretch;
  justify-content: flex-start;
  gap: 36px;
}
.collectionLandingInner {
  flex: 1;
  justify-content: flex-end;
  padding: 0 0 17.3px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-lg);
  color: #e7e7e7;
  font-family: var(--font-inter);
}
.collectionLanding {
  width: 100%;
  position: relative;
  background-color: var(--palette-noble-black-700);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 23px 0 35px 39px;
  box-sizing: border-box;
  gap: 162px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 128px;
  color: rgba(255, 255, 255, 0.2);
  font-family: var(--astrix-beta-heading-s);
}
@media screen and (max-width: 1125px) {
  .collectionLanding {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .astrixCollectible {
    font-size: 51px;
    line-height: 71px;
  }
}
@media screen and (max-width: 750px) {
  .collectionLandingInner {
    min-width: 100%;
  }
  .collectionLanding {
    gap: 81px;
  }
}
@media screen and (max-width: 450px) {
  .astrixCollectible {
    font-size: var(--font-size-13xl);
    line-height: 47px;
  }
  .rectangleParent {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .frameParent {
    gap: 18px;
  }
  .collectionLanding {
    gap: 40px;
  }
}
